<div class="login">
    <a class="button"  routerLink="">Logout</a>
</div>
<section class="sec-1">
    <div class="home">
        <nav>
            <div class="heading">
                <h1 id="head">THE LIBRARY</h1>
            </div>
            <div class="navBar" id="mainNavBar">
                <a class="button" routerLink="/books" routerLinkActive="active" >Books</a>
                <a class="button" routerLink="/authors" routerLinkActive="active" >Authors</a>

                <a *ngIf="_auth.loggedIn() || _auth.userrole()=='admin'" (click)="loggedUser()" class="button" href="/add/add_book">Add Books</a>
                <a class="button" href="/add/add_author">Add Authors</a>

                <a *ngIf="_auth.loggedIn()" (click)="loggedUser()"  class="button" href="#contact">Contact</a>
            </div>
        </nav>
        <div class="search">
            <form class="search-box">
                <input type="text" placeholder=" Search book title or author " />
                <button type="reset"></button>
            </form>
        </div>
    </div>
</section>
<section id="about">
    <div class="block">
        <!-- -----------------------------------------about us------------------------------------- -->
        <h3>About Us</h3>
        <div class="container">
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
        <!-- -----------------------------------------our people------------------------------------- -->
        <h5>Our People</h5>
        <div class="row container">
            <div class="a">
                <img src="../../assets/images/lib1.jpg">
                <div class="team-title">
                    <h5>Meryl Streep</h5>
                </div>
            </div>
            <div class="a">
                <img src="../../assets/images/lib2.jpg">
                <div class="team-title">
                    <h5>King Bach</h5>
                </div>
            </div>
            <div class="a">
                <img src="../../assets/images/lib3.jpg">
                <div class="team-title">
                    <h5>Naomi Watts</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<!-- ------------------------most popular-------------------------- -->

<app-footer></app-footer>