<!-- --------------------------------footer------------------- -->
<section id="contact">

    <div class="ftr">

        <a class="ftr_icon" href="#"><i class="fa fa-twitter "></i>&nbsp; </a>
        <a class="ftr_icon" href="#"><i class="fa fa-facebook "></i>&nbsp; </a>
        <a class="ftr_icon" href="#"><i class="fa fa-phone "></i>&nbsp; </a>
        <a class="ftr_icon" href="#"><i class="fa fa-map-marker"></i>&nbsp; </a>
    </div>
    <footer>
        <p style="text-align: center;"> Copyright @ 2021 | Privacy Policy</p>
    </footer>

</section>
